@use 'default-theme.scss';
@use 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	font-family: 'Roboto', sans-serif;
	--font-main: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
	padding: 0;
	margin: 0;
}
