@use 'variables.scss' as *;

:root {
	--bg: #{$white};
	--primary-color: #{$orange-100};
	--popUp-bg: rgba(112, 110, 110, 0.4);
	--textBlack: #{$black};
	--textWhite: #{$white};
	--textLink: #{$blue-600};
	--error: #{$red-800};
	--cardBg: #{$gray-200};
	--neutral-bg-color: #{$blue-700};
	--neutral-text-color: #{$white};
	--neutral-bg-color-hover: #{$blue-800};

	--liste0-bg-color-hover: rgb(from var(--liste0-bg-color) r g b / .5);
	--liste1-bg-color-hover: rgb(from var(--liste1-bg-color) r g b / .5);
}