@use 'variables.scss' as *;

:root{
    --bg: #{$white};
    --primary-color: #{$orange-100};
    --textBlack: #{$black};
    --textWhite: #{$white};
    --error: #{$red-800};
    --cardBg: #{$gray-200};
}